image: docker:latest
services:
- docker:dind

stages:
- build
- release

variables:
  GRAPHQL_ENDPOINT: /graphql
  GOOGLE_APPLICATION_CREDENTIALS: ""
  DEFAULT_HEADER_PHOTO_URL: https://storage.googleapis.com/owswims-prod/photos/default-image.jpg
  KUBE_NAMESPACE: mupo-shared
  CONTAINER_IMAGE: europe-docker.pkg.dev/$GCP_PROJECT_ID/owswims-repo/owswims


before_script:
    - echo $GCLOUD_SERVICE_KEY | base64 -d > ${HOME}/gcloud-service-key.json
    - cat ${HOME}/gcloud-service-key.json | docker login -u _json_key --password-stdin https://europe-docker.pkg.dev


build:
  stage: build
  script:
    # - docker pull ${CONTAINER_IMAGE}:latest || true
    - >
      docker build
      --build-arg RELEASE_ID=$CI_COMMIT_SHORT_SHA
      --build-arg CI_COMMIT_REF_SLUG=$CI_COMMIT_REF_SLUG
      --build-arg CI_COMMIT_SHA=$CI_COMMIT_SHA
      --build-arg CI_BUILD_DATE="$(date)"
      --build-arg GOOGLE_MAPS_API_KEY
      --build-arg RAPIDAPI_KEY
      --build-arg GRAPHQL_ENDPOINT
      --build-arg DEFAULT_HEADER_IMAGE
      --build-arg SECRET_KEY
      --build-arg SENTRY_DSN
      --tag ${CONTAINER_IMAGE}:latest
      --tag $CONTAINER_IMAGE:${CI_COMMIT_SHA:0:8}
      .
    - docker push $CONTAINER_IMAGE:${CI_COMMIT_SHA:0:8}
    - docker push ${CONTAINER_IMAGE}:latest

release:
  stage: release
  image: kiwigrid/gcloud-kubectl-helm:3.2.3-295.0.0-253
  script:
   - echo $GCLOUD_SERVICE_KEY | base64 -d > ${HOME}/gcloud-service-key.json
   - gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
   - gcloud config set project ${GCP_PROJECT_ID}
   - gcloud container clusters get-credentials ${K8S_CLUSTER} --region ${GCP_REGION} --project ${GCP_PROJECT_ID}
   - export KUBE_CONTEXT="gke_${GCP_PROJECT_ID}_${GCP_REGION}_${K8S_CLUSTER}"
   - helm upgrade owswims -f helm/values.yaml  helm/
     --kube-context ${KUBE_CONTEXT}
     --namespace owswims
     --reuse-values
     --set-string image.tag="${CI_COMMIT_SHA:0:8}"
  only:
    - master
