image: docker:latest
services:
- docker:dind

stages:
- build
- release

variables:
  IMAGE: registry.gitlab.com/silvan.muehlemann/owswims:latest
  GRAPHQL_ENDPOINT: /graphql
  GOOGLE_APPLICATION_CREDENTIALS: ""
  DEFAULT_HEADER_PHOTO_URL: https://storage.googleapis.com/owswims-prod/photos/default-image.jpg

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build:
  stage: build
  script:
    - >
        docker build
        --pull
        --build-arg GOOGLE_MAPS_API_KEY
        --build-arg RAPIDAPI_KEY
        --build-arg GRAPHQL_ENDPOINT
        --build-arg DEFAULT_HEADER_IMAGE
        --build-arg SECRET_KEY
        --build-arg SENTRY_DSN
        -t $IMAGE .
    - docker push $IMAGE

release:
  stage: release
  script:
    - docker pull $IMAGE
    - 'which ssh-agent || ( apt-get install -qq openssh-client )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    - ssh gitlab@hoenggerberg.muehlemann-popp.ch "cd /opt/owswims && docker-compose pull && docker-compose up -d"

  only:
    - master
