# Created by .ignore support plugin (hsz.mobi)
.idea
.pytest_cache
db.sqlite3
geocode_test.py
/owswims/node_modules/esm/node_modules/.cache/esm/
backend/static
/tmp/
backend/.env-*
scrapy/
.history
.mypy_cache
.DS_Store
__pycache__
vue3-migration/
backend/url_validation_cache.json
backend/owswims-*.json