{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
{% if '/organizer-admin/' in request.path %}
<!-- Google Analytics for Organizer Portal -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-10357230-11"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-10357230-11');
</script>
{% endif %}
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
