
#id_address {
    width: 40em;
}

.map_canvas_wrapper {
    margin-left: 170px;
}

#map_canvas {
    width: 100%;
    height: 40em;
}

.places-photo {
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    width: 300px;
    height: 100px;
    background-position: center;
    background-size: cover;
    border-width: 2px;
    border-color: white;
}

.places-photo:hover {
    border-color: #5b80b2;
}
