name: Build and Deploy to GCP

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

env:
  GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  GCP_REGION: ${{ secrets.GCP_REGION }}
  K8S_CLUSTER: ${{ secrets.K8S_CLUSTER }}
  CONTAINER_IMAGE: europe-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/owswims-repo/owswims
  GRAPHQL_ENDPOINT: /graphql
  DEFAULT_HEADER_PHOTO_URL: https://storage.googleapis.com/owswims-prod/photos/default-image.jpg
  KUBE_NAMESPACE: mupo-shared

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCLOUD_SERVICE_KEY }}
        
    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      
    - name: Configure Docker for GCR
      run: gcloud auth configure-docker europe-docker.pkg.dev
      
    - name: Build and push Docker image
      run: |
        docker build \
          --build-arg RELEASE_ID=${{ github.sha }} \
          --build-arg CI_COMMIT_REF_SLUG=${{ github.ref_name }} \
          --build-arg CI_COMMIT_SHA=${{ github.sha }} \
          --build-arg CI_BUILD_DATE="$(date)" \
          --build-arg GOOGLE_MAPS_API_KEY="${{ secrets.GOOGLE_MAPS_API_KEY }}" \
          --build-arg RAPIDAPI_KEY="${{ secrets.RAPIDAPI_KEY }}" \
          --build-arg GRAPHQL_ENDPOINT="${{ env.GRAPHQL_ENDPOINT }}" \
          --build-arg DEFAULT_HEADER_IMAGE="${{ env.DEFAULT_HEADER_PHOTO_URL }}" \
          --build-arg SECRET_KEY="${{ secrets.SECRET_KEY }}" \
          --build-arg SENTRY_DSN="${{ secrets.SENTRY_DSN }}" \
          --tag ${{ env.CONTAINER_IMAGE }}:latest \
          --tag ${{ env.CONTAINER_IMAGE }}:${{ github.sha }} \
          .
        docker push ${{ env.CONTAINER_IMAGE }}:${{ github.sha }}
        docker push ${{ env.CONTAINER_IMAGE }}:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCLOUD_SERVICE_KEY }}
        
    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      
    - name: Install Helm
      uses: azure/setup-helm@v4
      with:
        version: '3.12.0'
        
    - name: Get GKE credentials
      run: |
        gcloud container clusters get-credentials ${{ env.K8S_CLUSTER }} \
          --region ${{ env.GCP_REGION }} \
          --project ${{ env.GCP_PROJECT_ID }}
          
    - name: Deploy to Kubernetes with Helm
      run: |
        helm upgrade owswims -f helm/values.yaml helm/ \
          --namespace owswims \
          --reuse-values \
          --set-string image.tag="${{ github.sha }}"